.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
}

.App-header {
  background-color: #4CAF50; /* Green */
  padding: 20px;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.App-header h1 {
  margin: 0;
  font-size: 2.5em;
  letter-spacing: 1px;
}

.App-main {
  flex-grow: 1;
  padding: 20px;
  max-width: 1200px;
  margin: 20px auto;
  width: 90%;
}

.App-footer {
  background-color: #333;
  color: white;
  padding: 15px;
  font-size: 0.9em;
  margin-top: auto; /* Pushes footer to the bottom */
}
